// BACKGROUND
.setup {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgb(242, 174, 2, 0.4),
      rgb(212, 152, 0, 0.4)
    ),
    url(../../images/setup_hero.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  // CONTAINER
  &_container {
    background-color: whitesmoke;
    padding: 4rem 6rem;
    border-radius: 0.3rem;
    border: 0.5rem solid #f5b202;
  }

  // HEADER
  &_sectionHeader {
    background-color: #f5b202;
    padding: 1rem 8rem;
    transform: skewX(-12deg);
  }
  &_sectionTitle {
    transform: skew(12deg);
  }
}
