.type {
  text-transform: uppercase;

  :not(:last-child) {
    padding-right: 4rem;
  }

  &__V {
    color: #6b8e23;
    font-size: 2.5rem;
    opacity: 80%;
  }
  &__S {
    color: #f84942;
    font-size: 2.5rem;
    opacity: 80%;
  }
}
