.profile {
  //display: grid;
  height: 100vh;
  //grid-template-columns: 45% 75%;

  &__heading {
    background-color: #f5b202;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 25%;
    height: 100%;

    // position: relative;
    // EDIT PROFILE PICTURE
    &_edit {
      position: absolute;
      top: 10rem;
      left: 30rem;
    }
    &_editInput[type="file"] {
      display: none;
    }
    &_editLabel {
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      background-color: #fff;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
    &_userPic {
      width: 25rem;
      height: 25rem;
      border: 0.8rem solid #fff;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 auto;
      margin-top: 10rem;
    }
    &_avitar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    &_uploading {
      position: absolute;
      top: 25rem;
      left: 17rem;
    }

    // USER DETAILS
    &_userDetails {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    &_subHeading {
      font-weight: bold;
      font-size: 1.8rem;
    }
    &_userName {
      padding-left: 2rem;
      font-size: 1.8rem;
    }
    // NAVIGATION BUTTONS

    &_btnContainer {
      width: 100%;
      display: grid;
      grid-template-rows: 150% repeat(2, 1fr);
      justify-items: center; //left & right
      align-items: center; //top & botom
      &_btn1 {
        align-self: flex-start;
      }
      &_btn2 {
      }
      &_btn3 {
        margin-top: 1rem;
      }
    }
  }
  &__body {
    position: absolute;
    right: 0;
    width: 75%;
  }
  &__full {
    margin-top: 10rem;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
}
