// GRID LAYOUT
.home {
  display: grid;
  grid-template-rows: 90vh;
  grid-template-columns: 5vw 45vw 50vw;

  overflow: hidden;

  &__vr {
    grid-row: 1 / -1;
  }
  &__content {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    padding: 0 15rem;
    display: grid;
    align-content: center;
    justify-items: start;
  }
  &__pictures {
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    display: grid;
    align-items: center;
  }

  &__homeBtn {
    margin-top: 3rem;
  }
}

// VR TAG
.vr {
  position: absolute;
  top: 20rem;
  left: 5rem;
  width: 0.4rem;
  height: 70vh;
  background-color: #999;
}

// SLIDE
.slider {
  position: relative;
  top: 10rem;
  left: -10rem;
  width: 80rem;
  height: 70rem;

  animation: Home-slider-spin infinite 45s linear;
  z-index: 1;

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__active {
    opacity: 1;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}
// NOTE --> IM NOT SURE IF I WANT SPIN
// @keyframes Home-slider-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// SPLASH
.splash {
  position: relative;
  top: -60em;
  left: 10rem;
  background-color: #f5b202;
  width: 80rem;
  height: 65rem;
  border-radius: 69% 31% 67% 33% / 60% 72% 28% 40%;
  z-index: 0;
}
